// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;  -moz-box-sizing: inherit;  box-sizing: inherit;
} 

html{
	background-color: $white;
}

body{
	margin: 0;
}

:focus {outline:none;}

.icon {
  display: inline-block;
  width: 1.4rem;
  vertical-align: middle;
  height: 1.4rem;
}