// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
html {
	box-sizing: border-box;
	background-color: $white;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:focus {
	outline: none;
}

.icon {
	display: inline-block;
	width: 1.4rem;
	vertical-align: middle;
	height: 1.4rem;
}
